tr {
    height: 70px;
    cursor: pointer;
}

#subjectsTable_wrapper, #groupsTable_wrapper, #studentsTable_wrapper {
    margin: 10px;
}

tr.selected {
    background-color: #e9ecef;
}

.wrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 33%;
    margin: 10px;
}